@import "~bootstrap/scss/bootstrap";



header{
    .img-logo{
        width: 100px;
        height: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
}
main {
    background-color: lightcoral;
}

.gatto-img {
    height: 200px;
}

.gatto-bg {
    height: 200px;
    background-image: url('../img/gatto.webp');
    background-size: contain;
}

